body{
    background-color: black;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

main{
    max-width: 65%;
    margin: auto;
}

.navbar-nav {
    position: fixed;
    top: 0;
    left: -250px; /* Inicia fora da tela */
    width: 250px;
    height: 100%;
    background-color: #343a40;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1050;
}

  /* Estilo para o ícone do menu hambúrguer */
  .navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px auto; /* Espaçamento entre as barras */
    border-radius: 4px;
}

/* Opcional: aumento da largura do botão para melhorar a experiência */
.navbar-toggler {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 20%;
    padding: 5%
}

/* Quando o menu for ativado */
.navbar-nav.show {
    left: 0; /* Abre o menu movendo para a tela */
}

.navbar-nav .nav-item {
    padding: 15px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

.carousel {
    cursor: grab;
}

/* Define a altura fixa para o carrossel */
.carousel-inner {
    height: 300px; /* Ajuste para o tamanho desejado */
}

/* Garante que as imagens cubram toda a área do carrossel */
.carousel-item img {
    object-fit: cover;  /* Imagem preenche o espaço sem distorção */
    height: 100%;  /* Garante que a altura da imagem seja igual à altura do carrossel */
}


.d-flex{
    color: rgba(255, 255, 255, 0.699);
}

.text-center{
    padding-top: 10%;
}

footer{
    color: white;
    background-color: rgba(104, 104, 104, 0.726);
    display: flex;
    text-align: center;
    padding-top: 2%;        
    justify-content: center;
}

.text-center img:hover {
    border-radius: 15%; /* Bordas mais suaves ao passar o mouse */
    box-shadow: 0 4px 20px rgb(255, 255, 255); /* Efeito de sombra suave */
    transform: scale(1.05); /* Aumento suave da imagem */
    cursor: pointer;
}


@media(max-width: 800px){
    .img-fluid {
        width: 56%;
        height: auto;
    }
}

footer p{
    margin-bottom: 0;
}